#container {
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,0);

}

body {
background-image: url('assets/img/America.jpg') center / cover;
font-family: 'Roboto', sans-serif;
}

#map {
    position: absolute;
    height: 100%;
    width: 85%;
}

#topbar {
    position: fixed;
    height: 0px;
    width: 100%;

    background-color: rgba(255,255,255,0.5);
}

/* Right Bar */
/* Lists the players and their respective progresses */
#sb {
    position: fixed;
    margin-bottom: 0px;
    width: 15%;
    right: 0px;
    top: 0px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.nameTag {
    position: relative;
    width: 50%;
}

.scoreTag {
    position: relative;
    margin-left: 50%;
    width: 50%;
}

.sideBarItem {
    height: 80px;
}

#bb_Card {
    position: fixed;

    bottom: 8px;
    right: 8px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#bb {

}

.player {
    position: fixed;
    width: 50%;
}

#thatplayer {
    right: 50%;
}

#startGame {
    position: fixed;
    height: 40px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 8px;

}

#adminSplashPage {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 20000;
    background-color: rgb(33, 150, 243);
}

#adminSplashContent {
    position: absolute;
    height: 50%;
    width: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 2px;
    text-align: center;
}

#countdown {
    z-index: 20000;
}

#countdown_Number {
    font-size: 50%;
}

#credits {
    height: 90%;
    width: 90%;

    position: absolute;
    top: 5%;
    left: 5%;

    background-color: white;

    z-index: 20000;

    box-shadow: 0 38px 38px rgba(0,0,0,0.30), 0 38px 38px rgba(0,0,0,0.30);

    align-content: center;
    text-align: center;

}

#credits_Table {
    position: absolute;
    right: 2%;
    width: 96%;
    table-layout: fixed;

    margin-top: 8px;
    padding-top: 8px;
}

#credits a {
    color: rgb(33, 150, 243);
}

#credits_Table {
    table-layout: fixed;

}
#credits_Table th:nth-child(2){
    text-align: center;
}
#credits_Table td:nth-child(1){
    text-align: left;
}
#credits_Table td:nth-child(2){
    text-align: center;
}
#credits_Table td:nth-child(3){
    text-align: right;
}


.mdl-navigation {
    z-index: 30000;
}

.white {
    color: white;
}

.pink {
    color: rgb(233, 30, 99);
}

.blue {
    color: rgb(33, 150, 243);
}
